<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/lib/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/MainController.js"></script>
        <script src="js/controllers/StatsController.js"></script>
        <script src="js/factories/FlashCardFactory.js"></script>
        <script src="js/factories/ScoreFactory.js"></script>
        <script src="js/directives/loader/loader.js"></script>
        <script src="js/directives/flash-card/flash-card.js"></script>
        <script src="js/directives/border-on-hover.js"></script>
    </head>

    <body>

        <div ng-app="FlashCards">

            <div ng-controller="StatsController" id="statistics">

                <div id="scoreboard">
                    <h3>Correct: <span>{{ scores.correct }}</span></h3>
                    <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
                </div>

            </div>

            <div ng-controller="MainController">

            <loader ng-show="cardsLoading"></loader>

            <div ng-hide="cardsLoading">

                <button
                        class="category-button"
                        ng-click="getAllCards()"
                        ng-class="{ active: chosenCategory === 'All' }">
                    All Categories
                </button>

                <button
                        class="category-button"
                        ng-repeat="category in categories"
                        ng-click="getCategoryCards(category)"
                        ng-class="{ active: chosenCategory === category }">
                    {{ category }}
                </button>

                <flash-card card="entry" ng-repeat="entry in flashCards"></flash-card>

            </div>
            
        </div>

    </body>

</html>